html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}
#table-element {
    position: relative;
    width: 80%;
    height: 50%;
    border: 1px solid white;
    border-radius: 5px;

}

#table-element::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;               /* Position at 50% of parent's width */
    width: 1px;
    height: 100%;
    transform: translate(-50%, 0%);
    background-color: white;
}


.paddle {
    position: absolute;
    height: 10%;
    width: 5px;
    border: 1px solid blue;
    border-radius: 2px;
}

#paddle1 {
    margin-left: 5px;
    left: 0;
    bottom: 50%;
}

#paddle2 {
    margin-right: 5px;
    right: 0;
    bottom: 50%;
}

#ball {
    position: absolute;
    width: 10px;
    height: 10px;
    left: 50%; 
    top: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    border-radius: 50%;
} 